@{
    ViewData["Title"] = "Home Page";
}

<form method="post" action="/home/login">
    <label for="username">Enter your username</label>
    <input type="text" name="username" class="input-group-text" required />
    <input type="submit" class="btn btn-primary" />
</form>
